h1 {
  color: var(--tw-prose-headings);
  font-size: 36px;
  line-height: 1.1111;
  margin-bottom: 32px;
}
h2 {
  font-size: 24px;
  color: var(--tw-prose-headings);
  border-top-style: solid;
  border-top-width: 1px;
  border-color: var(--ds-gray-200);
  padding-top: 2.5rem;
  scroll-margin-top: 11px;
  a {
    color: var(--tw-prose-headings) !important;
    text-decoration: none;
    @include light-mode {
      color: inherit;
    }
  }
  margin-top: 2em;
  margin-bottom: 1em;
}
h3 {
  font-size: 20px;
  color: var(--tw-prose-headings);
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
  a {
    text-decoration: none;
    color: inherit;
  }
}
h4 {
  font-size: 18px;
  color: var(--tw-prose-headings);
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
  a {
    text-decoration: none;
    color: inherit;
  }
}
p {
  color: var(--tw-prose-headings);
  font-size: 16px;
  margin-bottom: 20px;
}
blockquote {
  padding: 0.75rem;
  border-width: 1px;
  border-radius: 0.375rem;
  font-style: normal;
  font-weight: 400;
  padding: 1.5rem;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  border: 1px solid var(--ds-gray-200);
  p {
    margin: 0px;
  }
}
