<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('../layouts/head.html')
  </head>

  <body>
    @@include('../layouts/header.html')

    <main>@@include('../layouts/navigation.html')<article>
      @@include('../layouts/navigation.html')
      <article>
        <section>
          <p>Index</p>
          <div class="section">Section 1</div>
          <div class="section">Section 2</div>
          <div class="section" data-section="3">Section 3</div>
        </section>
      </article>
      @@include('../layouts/sidebar.html')
    </article>@@include('../layouts/sidebar.html')</main>

    @@include('../layouts/footer.html') @@include('../layouts/script.html')
  </body>
</html>
