<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('../layouts/head.html')
  </head>

  <body>
    @@include('../layouts/header.html')

    <main>
      @@include('../layouts/navigation.html')
      <article>
        <h1>NEXT.js Dokümantasyonu</h1>
        <p>Bu dokümasyon <strong>NEXT.js 14.1.0</strong> sürümüne ait güncel dokümantasyonun Türkçe'ye çevrilmiş halidir.</p>
        <p>Çeviri işlemi CefSharp ile DeepL API servisi ile otomatik olarak yapılmıştır.</p>
        <h2>Emeği geçenler</h2>
        <p><a href="https://github.com/erendeveci" target="_blank">@erendeveci</a></p>
        <p><a href="https://github.com/dcansyn" target="_blank">@dcansyn</a></p>
      </article>
      @@include('../layouts/sidebar.html')
    </main>

    @@include('../layouts/footer.html') @@include('../layouts/script.html')
  </body>
</html>
