header {
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 1000;
  padding: 0 24px;
  height: 64px;
  box-shadow: inset 0 -1px 0 0 var(--accents-2);
  transform: translateZ(0);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 100%, 0.8);

  nav {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    @include screen('ipad') {
      display: flex;
    }

    &::before {
      content: '';
      display: block;
      height: 1.5px;
      width: 22px;
      background-color: #000;
      transition: transform 0.15s ease;
      transform: translateY(-4px) rotate(0deg);
    }
    &::after {
      content: '';
      display: block;
      height: 1.5px;
      width: 22px;
      background-color: #000;
      transition: transform 0.15s ease;
      transform: translateY(4px) rotate(0deg);
    }

    &.active {
      &::before {
        transform: translateY(1px) rotate(45deg);
      }
      &::after {
        transform: translateY(0) rotate(-45deg);
      }
    }
  }
}
