header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;
  padding: 0 24px;
  height: 64px;
  box-shadow: inset 0 -1px 0 0 var(--accents-2);
  transform: translateZ(0);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 100%, 0.8);
  @include dark-mode {
    background: rgba(0, 0, 0, 0.8);
  }

  svg {
    @include dark-mode {
      path {
        fill: #ffffff;
      }
    }
  }
  nav {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    @include screen('ipad') {
      display: flex;
    }

    &::before {
      content: '';
      display: block;
      height: 1.5px;
      width: 22px;
      background-color: #000;
      transition: transform 0.15s ease;
      transform: translateY(-4px) rotate(0deg);
      @include dark-mode {
        background-color: #ffffff;
      }
    }
    &::after {
      content: '';
      display: block;
      height: 1.5px;
      width: 22px;
      background-color: #000;
      transition: transform 0.15s ease;
      transform: translateY(4px) rotate(0deg);
      @include dark-mode {
        background-color: #ffffff;
      }
    }

    &.active {
      &::before {
        transform: translateY(1px) rotate(45deg);
      }
      &::after {
        transform: translateY(0) rotate(-45deg);
      }
    }
  }
  .theme-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    input[type='checkbox'] {
      height: 0;
      width: 0;
      visibility: hidden;
    }

    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 55px;
      height: 30px;

      background: #454343;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      position: relative;
    }

    label:after {
      content: '';
      background: #fff;
      width: 20px;
      height: 20px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: 4px;
      transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    }

    input:checked + label {
      /*  background: #272727; */
    }

    input:checked + label:after {
      left: calc(100% - 5px);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}
