header {
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 1000;
  padding: 0 24px;
  height: 64px;
  box-shadow: inset 0 -1px 0 0 var(--accents-2);
  transform: translateZ(0);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 100%, 0.8);

  nav {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .menu-toggle {
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    svg {
      width: 30px;
      height: 30px;
      padding-bottom: 6px;
    }

    @include screen('ipad') {
      display: flex;
    }
  }
}
