.navigation {
  position: sticky;
  top: 120px;
  width: 284px;
  height: calc(100vh - 121px);
  overflow: hidden;
  padding-right: 22px;
  li {
    margin: 4px 0px;
    a {
      &.active {
        color: var(--ds-blue-700);
      }
    }
    &:first-child {
      div {
        transition: opacity 0.15s ease 0s, height 0.2s ease-in-out 0s;
        ul {
          padding-left: 0.125rem;
          padding-right: 0.125rem;
          li {
            margin-top: 0.375rem;
            margin-bottom: 0.375rem;
            div {
              height: 0px;
              opacity: 0;
              overflow: hidden;
              display: flex;
              flex-direction: column;
              transition: opacity 0.15s ease 0s, height 0.2s ease-in-out 0s;

              ul {
                margin: 0px 20px;
                padding-left: 0.75rem;
                border-left: 1px solid var(--ds-gray-200);
              }

              &.active {
                height: max-content;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  a {
    @extend .menu-item;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0px 4px 8px;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  &:hover {
    overflow-y: scroll;
  }

  .menu-title {
    font-size: 16px;
    color: var(--ds-gray-1000);
    font-weight: 500;
  }
}
